@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(18 24 27);
}

.navbar {
    padding: 0 2%;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    height: 8vh;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    color: #333;
}

.navbar-links li {
    font-weight: 400;
    font-size: 0.9rem;
    cursor: pointer;
}

.navbar-links li:hover {
    text-decoration: underline;
}

.navbar-links .dropdown {
    position: relative;
}

.navbar-links .dropdown .dropdown-links {
    position: absolute;
    width: 250px;
    margin-top: 2vh;
    top: 50px;
    left: -150px;
    background-color: #f3f3f3;
    padding: 12px 10px;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 10%;
    box-shadow: 1px 1px 15px #d3d3d3;
}

.navbar-links .dropdown .dropdown-links li {
    display: flex;
    background-color: #fff;
    margin: 5px;
    text-align: center;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.navbar-links .dropdown,
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.navbar-links .img:hover {
    text-decoration: none !important;
    background-color: #f3f3f3;
}

.navbar-links .dropdown-active {
    background-color: #444;
}

.main-page {
    height: 92vh;
    background-color: #fff;
}
